# Dependencies
node_modules/

# File managers
.DS_Store
.directory
desktop.ini

# Test files
/nothing.*

# SSH folder
.ssh/
config
github
.gitconfig

# Compressed
*.gz

# Other package managers
yarn.lock
npm-shrinkwrap.json

# Misc
*.log*
